<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                 <!-- Bootstrap CSS -->
                 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>sign in</title>
        <link rel="stylesheet" href="../css/signIn.css">
    </head>
    <body>
        <main>
            <div class="container overflow-hidden mt-5 title">
                <div class="row align-items-center gy-5">
                    <div class="col-12">
                        <h1>Welcome to KHREADCROSS!!</h1>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center main_block">
                <div class="container overflow-hidden">
                    <form action="/signIn" method="post"> 
                        <div class="row align-items-center justify-content-center gy-3">
                            <div class="col-12 p-3">
                                <h3>Register</h3>
                            </div>
                            <div class="col-12 p-3">
                                <input type="email" class="form-control input-box" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-12 p-3">
                                <input type="text" class="form-control input-box" id="user_name" name="user_name" placeholder="User Name" required>
                            </div>
                            <div class="col-12 p-3">
                                <input type="password" class="form-control input-box" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="col-12 p-3">
                                <button type="submit" class="btn btn-outline-dark">Register</button>
                            </div>
                            <div class="col-12 p-3">
                                <div class="login-text">
                                    <p>Already have an account?</p>
                                    <a href="/login" class="btn btn-outline-dark">Click here to log in.</a>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <% if (error) { %>
                                    <p><%= error %></p>
                                <% } %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>